/* EditProfile.css */
.edit-profile-container {
    padding: 20px;
    text-align: center; /* Centra el texto */
    margin-top: 80px; /* Ajusta este valor según sea necesario */
  }
  
  .input-group {
    display: flex;
    flex-direction: column; /* Coloca los campos uno debajo del otro */
    margin-bottom: 20px; /* Espacio entre los grupos de entrada */
  }
  
  .input-group label {
    margin-bottom: 5px; /* Espacio entre la etiqueta y el campo */
  }
  
  .input-group input {
    border: none; /* Sin borde */
    border-bottom: 2px solid black; /* Borde inferior negro */
    background: transparent; /* Sin fondo */
    outline: none; /* Sin contorno al hacer clic */
    padding: 5px; /* Espacio interno */
    width: 100%; /* Ancho completo */
  }
  
  .save-button {
    background-color: #a6a6a6;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #f9cd67;
  }
  