/* Estilos para el botón de login */
.button {
    position: absolute;
    top: 10px;
    right: 20px;
  }
.login-button {
    background: transparent; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    color: #333; /* Color del texto del botón */
  }
  
  .login-button svg {
    fill: #333; /* Color del ícono del botón */
    transition: fill 0.3s ease; /* Transición suave en hover */
  }
  
  .login-button:hover svg {
    fill: #555; /* Cambio de color cuando el botón se sobrevuela */
  }
  