/* src/Cabecera.css */

header {
    position: absolute; /* Mantiene la cabecera fija en la parte superior */
    top: 0; /* Pegado al borde superior */
    left: 0; /* Pegado al borde izquierdo */
    width: 1499px; /* Ocupa todo el ancho */
    height: 80px;
    background-image:url('../../Elementos/imagen-cabecera.jpg'); /* Color de fondo */
    background-size: cover; /* Asegúrate de que la imagen cubra todo el espacio */
    background-position: center; /* Centra la imagen */
    z-index: 100; /* Asegura que esté encima de otros elementos */
    padding: 10px; /* Espaciado interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de profundidad */
}

.catalog-container {
    margin-top: 450px; /* Da un margen superior para que no se superponga con la cabecera */
}

/* Estilo para el texto en la cabecera */
header p {
    margin-top:20px; /* Elimina márgenes por defecto */
    font-size: 18px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    
}
.header-image {
    height: 50px; /* Ajusta la altura de la imagen según sea necesario */
    width:150px;
    height: 100px;
}