{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Acerca de mí
{% endblock title %}

{% block content %}

<div class="acerca">
    <h1>Hola!</h1>
    <p>Mi nombre es Dahyana Romer y esta es mi página de presentación. Actualemte soy estudiante de Ingeniería en Sistemas de información 
        en la UTN regional de Villa María, Córdoba.
    </p>
    <p>También trabajo full time en el sector administrativo de una empresa de construcción. </p>
    <p>Me gustan los desafíos, superarme a mí misma y renegar un poco en el proceso.</p>
    <p>¡Gracias por leer!</p>
</div>
{% endblock content %}