{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Estado
{% endblock title %}

{% block content %}

        
<main role="main" class="container">
    {% if request.user.is_staff %}
    <div style="display: flex; justify-content: flex-end;">
        <a href="{% url 'estado-create' %}" class="btn btn-sm btn-empresarial" style="background-color: grey; color: black; border: 0.5px solid grey;">
            Añadir estado de una propiedad
        </a>
    </div>
    
    <br>

{% endif %}
{% if estado_list %}      
    <div class="list-group">            
        {% for estado in estado_list %}
            <div class="card">
                <div class="flex-container">
                    <div class="title">Nombre:</div>
                    <div>{{ estado.name }}</div>
                </div>
                {% if request.user.is_staff %}
                <div class="card-body">
                    <a href="{% url 'estado-actualizar' estado.id %}" class="btn btn-sm btn-empresarial" style="background-color: grey; color: black; border: 0.5px solid grey;">Editar</a>
                    <a href="{% url 'estado-eliminar' estado.id %}"class="btn btn-sm btn-empresarial" style="background-color: grey; color: black; border: 0.5px solid grey;">Eliminar</a>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}

    {% endif %}
</main>
{% endblock content %}