{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Operaciones
{% endblock title %}

{% block content %}

        
<main role="main" class="container">
    {% if request.user.is_staff %}

    <div style="display: flex; justify-content: flex-end;">
        <a href="{% url 'operacion-create' %}" class="btn btn-sm btn-empresarial" style="background-color: grey; color: black; border: 0.5px solid grey;">
            Añadir tipo de operación
        </a>
    </div>
    {% endif %}
    <br>
    {% if operacion_list %}      
    <div class="list-group">            
        {% for operacion in operacion_list %}
            <div class="card">
                <div class="flex-container">
                    <div class="title">Nombre:</div>
                    <div>{{ operacion.name }}</div>
                </div>
            {% if request.user.is_staff %}
        <div class="card-body">
            <a href="{% url 'operacion-actualizar' operacion.id %}" class="btn btn-sm btn-empresarial" style="background-color: grey; color: black; border: 0.5px solid grey;">Editar</a>
            <a href="{% url 'operacion-eliminar' operacion.id %}" class="btn btn-sm btn-empresarial" style="background-color: grey; color: black; border: 0.5px solid grey;">Eliminar</a>
            {% endif %}
            </div>
        {% endfor %}

    </div>
{% else %}        

    </div>

   
{% endif %}
</main>
{% endblock content %}