
{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Propiedades
{% endblock title %}

{% block content %}

<!--SUBBARRA DE NAVEGACIÓN--> 
<main role="main" class="container">

    {% if request.user.is_staff %}
    <div style="display: flex; justify-content: flex-end;">
        <a href="{% url 'propiedad-create' %}" class="btn btn-sm btn-empresarial" style="background-color: grey; color: black; border: 0.5px solid grey;">
            Añadir propiedad
        </a>
    </div>
     
    {% endif %}

    <br>
    {% if propiedad_list %}      
        <div class="list-group">            
        {% for propiedad in propiedad_list %}
        <li>
            <div class="card">
              <h5 class="card-header"> {{ propiedad.name }} | {{propiedad.ciudad}} | {{propiedad.estado}} | $ {{propiedad.costo}}  </h5>
              {% if propiedad.image %}
                <h5><img class="rounded float-left img-thumbnail img-fluid"  width="164" height="96" src="{{propiedad.image.url}}" alt="{{propiedad.image.url}}"/> </h5>
                {% else %}
            <img class="rounded float-left img-thumbnail img-fluid"  width="164" height="96" src="{% static 'app/no-house.png' %}">
            {% endif  %}             
            </div>
            {% if request.user.is_staff %} 
                <div class="card-body">
                    <a href="{% url 'propiedad-actualizar' propiedad.id %}" class="btn btn-sm btn-empresarial" style="background-color: grey; color: black; border: 0.5px solid grey;">Editar</a>
                    <a href="{% url 'propiedad-eliminar' propiedad.id %}" class="btn btn-sm btn-empresarial" style="background-color: grey; color: black; border: 0.5px solid grey;">Eliminar</a>
                </div>
                {% endif %}
        </li>

	</div>
    {% endfor %}
    {% endif %}
   
    
</main>
{% endblock content %}