/* src/Login.css */
.login-container {
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  height: 100vh; /* Altura completa de la ventana */
  text-align: center; /* Centra el texto */
}

.bi-person {
  margin-bottom: 40px; /* Espacio entre el logo y el título */
}

h1 {
  font-size: 32px; /* Tamaño del título */
  margin-bottom: 30px; /* Espacio entre el título y el formulario */
}

form {
  display: flex;
  flex-direction: column; /* Organiza los elementos del formulario en columna */
  width: 100%; /* Ancho del formulario */
  align-items: center; /* Centra los inputs y el botón */
}

form div {
  margin-bottom: 15px; /* Espacio entre los inputs */
  width: 20%; /* Ajusta el ancho de los divs a 80% para mantener espacio a los lados */
}

.input-group {
  position: relative; /* Permite posicionar el borde inferior */
  margin-bottom: 15px; /* Espacio entre los inputs */
  width: 80%; /* Ancho del contenedor */
  align-items: center;
  margin-left: 970px;
}

.input-group label {
  align-items: center;
  display: block; /* Asegura que el label se comporte como bloque */
  text-align: center; /* Alinea el texto a la izquierda */
  margin-bottom: 5px; /* Espacio entre el label y el input */
}

.input-group input {
  padding: 10px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-bottom: 1px solid #cecece; /* Borde inferior del input */
  width: 100%; /* Ancho completo */
  outline: none; /* Elimina el contorno por defecto */
  background: none;
  
}

button {
  padding: 10px; /* Espaciado interno para el botón */
  background-color: #72787e; /* Color de fondo del botón */
  color: rgb(0, 0, 0); /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  width: 8%; /* Botón ocupa todo el ancho del formulario */
}

.register-prompt {
  margin-top: 15px; /* Espacio encima de la frase de registro */
}

