{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Operaciones
{% endblock title %}

{% block content %}

        
<main role="main" class="container">

    
    {% if operacion_list %}      
        <div class="list-group">            
        {% for operacion in operacion_list %}
            <div class="card">
              <h5 class="card-header"> {{ operacion.name }} </h5>
            </div>
        {% endfor %}
	</div>
    {% else %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'app/operacion.jpg' %}" alt="Sin ubicación">
        <div class="card-body">
          <h5 class="card-title">Operacion</h5>
         
          <a href="{% url 'home' %}" class="btn btn-primary">Inicio</a>
        </div>
    </div>
    {% endif %}
</main>
{% endblock content %}